@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

* {
  font-family: "Poppins-Medium", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --dark-gray: hsl(255, 11%, 21%);
  --gray: hsl(257, 8%, 63%);
  --light-gray: hsl(225, 32%, 95%);
  --light-green: hsl(180, 66%, 49%);
  --lighter-green: hsl(180, 56%, 75%);
  --dark-purple: hsl(257, 27%, 26%);
  --purple: hsl(257, 26%, 33%);
  --red: hsl(0, 86%, 67%);
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

@media (max-width: 1024px) {
  html,
  body {
    overflow-y: visible;
  }
}
